
.normal {
  font-family: Georgia, sans-serif;
  overflow: hidden;
  height: 100%;
}
.logo{
  font-weight:bolder;
  color:#F70404;
  font-size:24px;
}
.topMenu {
  position:fixed;
  top:0px;
  background:#ffff;
  width:100%;
  display:flex;
  align-items: center;
  border-bottom:1px solid #e8e8e8;
  padding-left:20px;
  padding-right:20px;
  .ant-menu{
    overflow:hidden;
    flex:1;
  }
}
:global {
  .sider-menu-container.ant-menu-horizontal{
    border:0px !important;
    flex:1;
  }
}
.allContent{
  padding:30px 30px 80px;
  overflow:auto;
  height:100%;
  margin-top:50px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}